# Gradle / Android
.gradle/
build/
app/build/
local.properties

# IDE
.idea/
*.iml

# Release / signing files
*.jks
*.keystore
*.apk
*.aab

# OS files
.DS_Store
Thumbs.db

# Android Studio local files
.idea/

# Generated release/build artifacts
app/release/
app/lab/
app/production/
*.apk
*.aab
*.rar

# Local machine configuration
local.properties
*.jks
*.keystore
